@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&display=swap');

:root {
    --font-primary: 'Russo One', sans-serif;
    padding: 0;
    margin: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: #252525;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

@keyframes doubleBounce {
    0%, 100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-5px);
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #777;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #2d2d2d;
}
